# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 2 space indentation for all python files
[*.py]
indent_style = space
indent_size = 2

# Indentation override for all Java file under lib directory
[lib/**.java]
indent_style = space
indent_size = 2
